/* MIXINS */
.site-header__menu-btn {
  background-color: transparent;
  border: none;
}

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* FONTS */
@font-face {
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ibarra-real-nova-v20-latin-700.woff2") format("woff2"), url("../fonts/ibarra-real-nova-v20-latin-700.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/public-sans-v14-latin-regular.woff2") format("woff2"), url("../fonts/public-sans-v14-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/public-sans-v14-latin-700.woff2") format("woff2"), url("../fonts/public-sans-v14-latin-700.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/public-sans-v14-latin-700.woff2") format("woff2"), url("../fonts/public-sans-v14-latin-700.woff") format("woff");
}
/* GENERAL */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  display: block;
  height: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Public Sans", "Arial", sans-serif;
  font-weight: 400;
  background-color: #fafafa;
  overflow-x: hidden;
}

/* STICKY-FOOTER */
.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 32px;
}

@media only screen and (min-width: 576px) {
  .container {
    padding: 0 41px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    padding: 0 20px;
  }
}
/* SITE HEADER STYLES START */
.body--active {
  overflow: hidden;
}

.site-header {
  padding-top: 32px;
  padding-bottom: 40px;
}

.site-header--active .site-nav {
  display: block;
}

.site-header--active .site-header__menu-btn {
  width: 18px;
  height: 19px;
  background-image: url("../images/exit.svg");
}

.site-header__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__menu-btn {
  width: 24px;
  height: 13px;
  background-image: url("../images/hamburger.svg");
  background-repeat: no-repeat;
}

.site-nav {
  display: none;
  position: absolute;
  z-index: 3;
  top: 55px;
  right: 0;
  width: 100%;
  max-width: 223px;
  padding: 40px 0;
  background-color: #33323D;
  overflow: hidden;
}

.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0;
  padding-left: 0;
  list-style: none;
  text-align: center;
}

.site-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.site-nav__link {
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

@media only screen and (min-width: 480px) {
  .site-header {
    padding-top: 64px;
    padding-bottom: 47px;
  }
  .site-header__menu-btn {
    display: none;
  }
  .site-nav {
    display: block;
    position: static;
    width: 100%;
    max-width: 305px;
    padding: 0;
    background-color: transparent;
  }
  .site-nav__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    margin: 0;
    padding-left: 0;
    list-style: none;
    text-align: center;
  }
  .site-nav__item:not(:last-child) {
    margin-bottom: 0;
  }
  .site-nav__link {
    color: #33323D;
  }
  .site-nav__link--active {
    color: #5FB4A2;
  }
}
@media only screen and (min-width: 768px) {
  .site-header {
    padding-bottom: 54px;
  }
}
/* HERO SECTION STYLES START */
.hero {
  padding-bottom: 96px;
}

.hero__inner {
  padding-top: 271px;
  background-image: url("../images/hero-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .hero__inner {
    background-image: url("../images/hero-bg-mobile@2x.jpg");
  }
}
.hero__info {
  max-width: 514px;
  padding-top: 24px;
  background-color: #FAFAFA;
}

.hero__title-box {
  max-width: 311px;
}

.hero__title {
  margin: 0;
  margin-bottom: 32px;
  font-family: "Ibarra Real Nova", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323D;
}

.hero__link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 17px 38px;
  padding-left: 85px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
  background-color: #203A4C;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hero__link:hover::before {
  background-image: url("../images/link-before-img-hover.svg");
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hero__link:hover {
  background-color: #5FB4A2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hero__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  background-image: url("../images/link-before-img.svg");
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media only screen and (min-width: 576px) {
  .hero__inner {
    padding-top: 322px;
    background-image: url("../images/hero-bg-tablet.jpg");
  }
}
@media only screen and (min-width: 576px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 576px) and (min-device-pixel-ratio: 2), only screen and (min-width: 576px) and (min-resolution: 192dpi), only screen and (min-width: 576px) and (min-resolution: 2dppx) {
  .hero__inner {
    background-image: url("../images/hero-bg-tablet@2x.jpg");
  }
}
@media only screen and (min-width: 576px) {
  .hero__info {
    padding-top: 56px;
  }
}
@media only screen and (min-width: 576px) {
  .hero__title-box {
    max-width: 458px;
  }
}
@media only screen and (min-width: 576px) {
  .hero__title {
    margin-bottom: 48px;
  }
}
@media only screen and (min-width: 768px) {
  .hero {
    padding-bottom: 150px;
  }
  .hero__inner {
    padding-top: 243px;
    background-image: url("../images/hero-bg-desc.jpg");
    background-size: 1110px 600px;
  }
}
@media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-resolution: 192dpi), only screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__inner {
    background-image: url("../images/hero-bg-desc@2x.jpg");
  }
}
@media only screen and (min-width: 768px) {
  .hero__info {
    max-width: 445px;
  }
}
@media only screen and (min-width: 768px) {
  .hero__title-box {
    max-width: 390px;
  }
}
@media only screen and (min-width: 768px) {
  .hero__title {
    margin-bottom: 53px;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.446429px;
  }
}
/* ABOUT SECTION START */
.about {
  padding-bottom: 115px;
}

.about__inner {
  max-width: 850px;
}

.about__picture {
  display: block;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
}

.about-img {
  width: 100%;
  height: 100%;
  margin-bottom: 32px;
}

.about__info {
  max-width: 500px;
  max-width: 400px;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 51px;
  border-top: 1px solid #DCDCDE;
  border-bottom: 1px solid #DCDCDE;
}

.about__title {
  margin: 0;
  margin-bottom: 28px;
  font-family: "Ibarra Real Nova", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323D;
}

.about__text {
  margin: 0;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 30px;
  color: #33323D;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.about__link {
  display: inline-block;
  text-decoration: none;
  padding: 16px 35px 16px 31px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  color: #33323D;
  border: 1px solid #33323D;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.about__link:hover {
  color: #fff;
  background-color: #33323D;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

@media only screen and (min-width: 650px) {
  .about {
    padding-bottom: 96px;
  }
  .about__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__picture {
    width: 40%;
    max-width: 281px;
    height: 100%;
    margin: 0;
  }
  .about-img {
    margin: 0;
  }
  .about__info {
    width: 50%;
    max-width: 339px;
    margin: 0;
    padding-top: 51px;
    padding-bottom: 46px;
  }
}
@media only screen and (min-width: 800px) {
  .about__inner {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .about__picture {
    margin-right: 69px;
  }
}
@media only screen and (min-width: 1024px) {
  .about {
    padding-bottom: 150px;
  }
  .about__inner {
    max-width: 1015px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about__picture {
    width: 100%;
    max-width: 540px;
    height: 600px;
    margin: 0;
  }
  .about__info {
    max-width: 350px;
    padding-top: 50px;
  }
}
/* INTEREST SECTION START */
.interest {
  padding-bottom: 80px;
}

.interest__info {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.interest__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Ibarra Real Nova", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323D;
  text-align: center;
}

.interest__link {
  min-width: 164px;
  display: inline-block;
  text-decoration: none;
  padding: 16px 34px 16px 31px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  color: #33323D;
  border: 1px solid #33323D;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.interest__link:hover {
  color: #fff;
  background-color: #33323D;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

@media only screen and (min-width: 576px) {
  .interest {
    padding-bottom: 96px;
  }
  .interest__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
  }
  .interest__title-box {
    max-width: 350px;
  }
  .interest__title {
    margin: 0;
    text-align: left;
  }
}
@media only screen and (min-width: 680px) {
  .interest__line {
    width: 20%;
    max-width: 534px;
    height: 1px;
    margin: 0 32px;
    background-color: #DCDCDE;
  }
}
@media only screen and (min-width: 768px) {
  .interest {
    padding-bottom: 150px;
  }
  .interest__line {
    width: 40%;
  }
}
@media only screen and (min-width: 1024px) {
  .interest__line {
    width: 48%;
  }
}
/* CONTACT HERO SECTION START */
.contact-hero {
  padding-bottom: 32px;
}

.contact-hero__inner {
  padding-top: 24px;
  padding-bottom: 32px;
  border-top: 1px solid #DCDCDE;
  border-bottom: 1px solid #DCDCDE;
}

.contact-hero__title {
  margin: 0;
  margin-bottom: 24px;
  font-family: "Ibarra Real Nova", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323D;
}

.contact-hero__info-box {
  width: 100%;
  max-width: 689px;
}

.contact-hero__text {
  margin: 0;
  margin-bottom: 24px;
  font-size: 15px;
  line-height: 30px;
  color: #33323D;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.contact-hero__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 104px;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.contact-hero__social-link {
  color: #33323D;
}

@media only screen and (min-width: 576px) {
  .contact-hero {
    padding-top: 47px;
  }
  .contact-hero__inner {
    padding-top: 32px;
  }
}
@media only screen and (min-width: 950px) {
  .contact-hero {
    padding-bottom: 47px;
  }
  .contact-hero__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 48px 0;
  }
  .contact-hero__info-box {
    max-width: 635px;
  }
  .contact-hero__title {
    margin: 0;
  }
  .contact-hero__text {
    font-size: 16px;
  }
}
/* CONTACT FORM SECTION START */
.contact-form {
  padding-bottom: 80px;
}

.contact-form__title {
  margin: 0;
  margin-bottom: 24px;
  font-family: "Ibarra Real Nova", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323D;
}

.contact-form__form {
  width: 100%;
  max-width: 689px;
}

.contact-form__label {
  display: block;
  font-weight: 700;
  font-size: 13px;
  line-height: 30px;
  color: #33323D;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.contact-form__input {
  display: block;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 4px;
  padding: 8px 16px;
  padding-right: 0;
  font-size: 13px;
  line-height: 30px;
  color: #33323D;
  background-color: #E6E6E7;
  outline: none;
  border: 1px solid #E6E6E7;
}
.contact-form__input::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 30px;
  color: #33323D;
  mix-blend-mode: normal;
  opacity: 0.4;
}
.contact-form__input::-moz-placeholder {
  font-size: 13px;
  line-height: 30px;
  color: #33323D;
  mix-blend-mode: normal;
  opacity: 0.4;
}
.contact-form__input:-ms-input-placeholder {
  font-size: 13px;
  line-height: 30px;
  color: #33323D;
  mix-blend-mode: normal;
  opacity: 0.4;
}
.contact-form__input::-ms-input-placeholder {
  font-size: 13px;
  line-height: 30px;
  color: #33323D;
  mix-blend-mode: normal;
  opacity: 0.4;
}
.contact-form__input::placeholder {
  font-size: 13px;
  line-height: 30px;
  color: #33323D;
  mix-blend-mode: normal;
  opacity: 0.4;
}
.contact-form__input:focus {
  border-color: #5FB4A2;
}
.contact-form__input:not(:-moz-placeholder-shown):not(:focus):invalid {
  color: #F43030;
  border-color: #F43030;
}
.contact-form__input:not(:-ms-input-placeholder):not(:focus):invalid {
  color: #F43030;
  border-color: #F43030;
}
.contact-form__input:not(:placeholder-shown):not(:focus):invalid {
  color: #F43030;
  border-color: #F43030;
}
.contact-form__input:not(:-moz-placeholder-shown):not(:focus):invalid ~ .contact-form__invalid {
  opacity: 1;
}
.contact-form__input:not(:-ms-input-placeholder):not(:focus):invalid ~ .contact-form__invalid {
  opacity: 1;
}
.contact-form__input:not(:placeholder-shown):not(:focus):invalid ~ .contact-form__invalid {
  opacity: 1;
}

.contact-form__invalid {
  display: block;
  margin-bottom: 9px;
  font-style: italic;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #F43030;
  opacity: 0;
}

.contact-form__input--textarea {
  height: 96px;
  padding-bottom: 0;
  resize: none;
}

.contact-form__btn {
  display: inline-block;
  padding: 17px 41px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
  background-color: #203A4C;
  border: none;
}

@media only screen and (min-width: 576px) {
  .contact-form {
    padding-bottom: 96px;
  }
  .contact-form__title {
    margin-bottom: 32px;
  }
}
@media only screen and (min-width: 950px) {
  .contact-form {
    padding-bottom: 109px;
  }
  .contact-form__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contact-form__title-box {
    min-width: 205px;
    margin-right: 47px;
  }
  .contact-form__title {
    margin: 0;
  }
  .contact-form__form {
    max-width: 635px;
  }
}
@media only screen and (min-width: 1000px) {
  .contact-form__title-box {
    margin: 0;
  }
}
/* SITE FOOTER START */
.site-footer {
  padding: 56px 0;
  background-color: #33323D;
}

.site-footer__inner {
  text-align: center;
}

.logo--footer {
  display: inline-block;
  margin-bottom: 40px;
  color: #fff;
}

.navigation__list {
  max-width: 100px;
  margin: 0;
  padding-left: 0;
  list-style: none;
  margin: 0 auto;
  margin-bottom: 40px;
}

.navigation__item:not(:last-child) {
  margin-bottom: 32px;
}

.navigation__link {
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.site-footer__social-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 104px;
  margin: 0;
  padding-left: 0;
  list-style: none;
  margin: 0 auto;
}

@media only screen and (min-width: 576px) {
  .site-footer {
    padding: 24px 0;
  }
  .site-footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
  .logo--footer {
    margin-bottom: 0;
    margin-right: 49px;
  }
  .navigation {
    margin-right: auto;
    width: 100%;
    max-width: 305px;
  }
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
    margin: 0;
    margin-right: auto;
  }
  .navigation__item:not(:last-child) {
    margin-bottom: 0;
  }
  .site-footer__social-list {
    margin: 0;
    margin-left: 20px;
  }
}
@media only screen and (min-width: 650px) {
  .site-footer__social-list {
    margin: 0;
  }
}